.action_header{
    width: 13%;
    text-align: center;
}

.action_btns{
    width: 13%;
    display: flex;
    justify-items: center;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}